.search-bar {
    display: flex;
    align-items: center;
    margin-top: 1em;
    align-self: center;
    min-height: 7vh;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 1em;
}

.search-bar .fa-search {
    margin-left: 0.6em;
    font-size: 1.5em;
    color: #295F42;
    opacity: 0.82;

}

.search-bar p {
    opacity: 0.4;
    font-weight: 700;
    margin-left: 0.8em;
    font-size: 0.8em;
}

.inline {
    display: inline-block;
    height: 17vh;
    border-bottom: solid #295F42 0.1em;


}

.search-input {
    margin-left: 1em;
    appearance: none;
    font-size: 1.1em;
    width: 100%;
    border: none;
    outline: none;
}

.link-button {
    background: none;
    border: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 1em;
}

.add {
    display: inline-block;
    cursor: default;
}

.delete-form {
    height: 5vh;
    width: 10vw;

}

.delete-user {
    background: #690a1d 0 0 no-repeat padding-box;
    box-shadow: 0 8px 8px #00000029;
    margin-top: 0.5em;
    border: none;
    border-radius: 3em;
    font-size: 0.8em;
    font-weight: 600;
    color: white;
    text-align: center;
    height: 5vh;
    width: 10vw;
}

.delete-user:hover {
    cursor: pointer;
}


.link-button:focus {
    outline: none;
}

.display-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
}


.display-container main {
    margin-top: auto;
    display: flex;
    align-self: flex-end;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    align-items: center;
}

.discover-list {
    margin-top: 1em;
    height: 100%;
}

.plant-record {
    display: grid;
    grid-template-columns: 12vh 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 15vh;
    margin-top: 1em;
}

.user-record {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 15vh;
    margin-top: 1em;
}

.record-img {
    display: inline-block;
    margin: 0.5em 0 0.5em 0;
    grid-column: 1/2;
    box-shadow: 0 3px 6px #00000029;
    border-radius: 18px;
    width: 12vh;
    height: 12vh;
    overflow: hidden;
}

.plant-img {
    max-width: 14vh;
    transform: translate(0, -20%);
}

.record-text {
    overflow: hidden;
    display: inline-block;
    grid-column: 2/3;
    margin: 0.5em 0 0 1em;
    text-align: left;

}


@media screen and (min-width: 750px) {

    .display-container header {
        background-color: white;
        position: fixed;
        overflow: hidden;
        display: flex;
        align-self: flex-start;
        width: 100vw;
        height: 10vh;
        z-index: 5;
    }

    .sign {
        display: none;
    }


    .main-img-discover {

        grid-column: 1 / 4;
        grid-row: 2 /5;
        background: transparent url("../img/discover.jpg") no-repeat padding-box;
        background-size: cover;
        box-shadow: 0 6px 6px #00000029;
        border-radius: 18px;
    }

    .img-discover-container {
        align-self: center;
        display: grid;
        min-height: 40%;
        grid-template-columns: 10% 60vh 1fr;
        grid-template-rows: 8% 7% 40% 1fr;
        width: 70%;
    }

    .img-text-d {
        grid-column: 2 /3;
        grid-row: 1/ 4;
        background: #FFFFFF 0 0 no-repeat padding-box;
        box-shadow: 5px 3px 6px #00000029;
        border-radius: 18px;
        overflow: hidden;
    }

    .img-text-d p {
        margin: 1.5em 2em;
        font-weight: 600;
        font-size: 1.1em;
        line-height: 1.45em;
    }

    .search-bar {
        width: 28vw;
    }

    .display-container nav {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
    }

    .discover-list {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        width: 70%;
        height: 100%;
    }

    .inline-height {
        height: 18vh;
    }
    @media screen and (min-height: 1020px) {
        .img-discover-container {
            grid-template-columns: 10% 40vh 1fr;
            grid-template-rows: 8% 7% 40% 1fr;

        }
        .search-bar{
            width: 35vw;
            min-height: 5vh;
        }
    }
}

@media screen and (max-width: 750px) {
    header {
        height: 10vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .sign {
        margin-right: 1.7em;
        background: #295F42 0 0 no-repeat padding-box;
        box-shadow: 0 8px 8px #00000029;
        border-radius: 3em;
        text-transform: uppercase;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: 1em;
        padding: 0.6em 0.9em;
    }

    .delete-user {
        width: 19vw;
    }


    .display-container {
        display: grid;
        grid-template-rows: 10vh 1fr;
        justify-items: stretch;
    }

    .nav-bottom-mobile a:nth-child(1) {
        color: #9b9898;
    }

    .nav-bottom-mobile a:nth-child(2) {
        color: #9b9898;
    }


    .display-container .logo-main {
        font: normal normal normal 2.3em Bahnschrift;
        color: #000000;
        margin-left: 1em;

    }

    .img-discover-container {
        display: none;
    }

    .display-container main {
        margin: 0;
        height: 100%;

    }

    .display-container nav {
        display: none;
    }

    .search-bar {
        width: 60vw;
    }

    .discover-list {
        width: 90%;
        display: grid;
        margin-bottom: 7em;
    }

    .user-list {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 7em;
    }
}

@media screen and (max-width: 650px) {
    .record-text {
        height: 90%;
    }
}

@media screen and (max-width: 421px) {
    .inline {
        overflow: hidden;
    }

    .inline-height {
        height: 25vh;
    }

    .add {
        height: 100%;
    }

    .user-record {
        height: 100%;
    }
}

