* {
    font-size: 15px;
}

/* LOGIN AND REGISTRATION PANEL */

.img-container {
    display: none;
}

.login-container {
    width: 100vw;
    background: transparent url('../img/mobile-bg.jpg') 0% 0% no-repeat padding-box;
    background-size: cover;
}

.login-text {
    color: white;
    font-size: 1.2rem;
    margin-bottom: 12vh;
}


.login-register input {
    height: 7vh;
    width: 50vw;
    border-radius: 18px;
    margin: 1.5vh;
}

.login-register button {
    height: 7vh;
    width: 20vw;
}

.login-register form p {
    color: white;
    margin-top: 7vh;

}

.sign-in {
    margin-top: 3vh;
}


/* MAIN PAGE */

.img-main-container {
    width: 85%;
    grid-template-columns: 10% 50vw 1fr;
    grid-template-rows: 13% 7% 40% 1fr;

}

.main-container section {
    width: 85%;
}

.main-container header {
    justify-content: center;
}

.nav-desktop {
    display: none;
}

.main-container header>p {
    display: none;
}

.main-container nav {
    align-items: flex-start;
}

.nav-mobile {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.nav-mobile i {
    font-size: 1.7em;
    margin-left: 1.7em;
}

.nav-mobile a {
    margin-right: 1.7em;
    background: #295F42 0% 0% no-repeat padding-box;
    box-shadow: 0px 8px 8px #00000029;
    border-radius: 3em;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1em;
    padding: 0.6em 0.9em;
}

.img-text p {
    font-size: 1em;
}

@media screen and (max-width: 476px) {
    .img-text p {
        font-size: 0.9em;
    }
}

.logo-mobile {
    grid-column: 2/3;
    text-align: left;
    font: normal normal normal 2rem Bahnschrift;
    color: #000000;
}

/* MY PLANTS */

.my-plants-container{
    grid-template-rows: 1fr 10vh; 
    grid-template-columns: 1fr;
    justify-items: stretch;
}

.my-plants-container main{
    grid-row: 1/2;
    grid-column: 1/2;
    align-items: flex-start;
    justify-content: flex-start;
}

.info{
    display: flex;
    justify-self: flex-start;
    width: 100vw;
    justify-content: space-between;
}
.grid-wrapper{
    grid-template-columns: repeat(2,1fr);
}
.my-plants-container nav{
    display: none;
}

.nav-bottom-mobile{
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100vw;
    height: 12vh;
    background-color: tomato;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px -3px 3px #00000029;
    border-radius: 4em 4em 0px 0px;
    position: fixed;
    overflow: hidden;
    bottom: 0;
}
.nav-bottom-mobile a{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    color: #295F42;
    font-size: 1em;
    font-weight: 600;
}
.my-plants{
    font-size: 2.3em;
    margin-top: 1em;
}
.fa-cog{
    margin: 0.5em 1em;
    font-size: 2em;
    align-self: flex-start;
    justify-self: flex-end;
}

.nav-bottom-mobile a i{
    font-size: 1.9em;
}
.button{
    display:none
}
.watering{
    display: none;
}
.square{
    width:30vw;
    height: 35vh;
}
.plant-square{
    width: 26vw;
    height: 26vw;
}
